<footer class="footer">
    <div class="general-info">
        <div class="corp-info">
            <h4>LEO</h4>
            <p>Maecenas faucibus mollis interdum...</p>
        </div>
        <div class="general-info-right">
            <div class="contact">
                <h4>CONTATO</h4>
                <p>(21) 98765-3434</p>
                <p>contato@leolearning.com</p>
            </div>

            <div class="social-media">
                <h4>REDES SOCIAIS</h4>
                <div class="icons">
                    <img src="/front/assets/twitter.png" alt="twitter">
                    <img src="/front/assets/youtube.png" alt="youtube">
                    <img src="/front/assets/pinterest.png" alt="pinterest">
                </div>
            </div>
        </div>
    </div>

    <div class="copyrights">
        Copyright 2017 – All rights reserved.
    </div>
</footer>